<table>
  <tr>
    <th style="color: #506c96">Firstname</th>
    <th style="color: #506c96">Lastname</th> 
    <th style="color: #506c96">Age</th>
  </tr>
  <tr>
    <td>Sean</td>
    <td>Connery</td> 
    <td>86</td>
  </tr>
  <tr>
    <td>George</td>
    <td>Lazenby</td> 
    <td>77</td>
  </tr>
  <tr>
    <td>Roger</td>
    <td>Moore</td>
      <td style="color: red">89 RIP</td>
  </tr>
  <tr>
    <td>Timothy</td>
    <td>Dalton</td> 
    <td>71</td>
  </tr>
  <tr>
    <td>Pierce</td>
    <td>Brosnan</td> 
    <td>64</td>
  </tr>
  <tr>
    <td>Daniel</td>
    <td>Craig</td> 
    <td>49</td>
  </tr>
</table>